<!--
  Generated template for the Debug page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Developer Debug</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-item-group *ngIf="mode == 'menu'">
    <ion-item-divider color="light">Route</ion-item-divider>
    <ion-item>
      <ion-label floating>Unit ID</ion-label>
      <ion-input #routeID type="text"></ion-input>
    </ion-item>
    <div padding>
      <button ion-button block (click)="route(routeID)">Go</button>
    </div>
  </ion-item-group>

  <ion-item-group *ngIf="mode == 'unit'">
    <ion-item-divider color="light">
      <h1>Unit ID: {{content['unit_id']}}</h1>
    </ion-item-divider>
      <ion-item>
        Audio 1: {{content['audio_1']}}
      </ion-item>
      <ion-item>
        Audio 2: {{content['audio_2']}}
      </ion-item>

    <ion-item-divider color="light">
      <h2>Correct/Wrong Audio:</h2>
    </ion-item-divider>
      <ion-item>
        Correct Audio: {{content['answer_correct_audio']}}
      </ion-item>
      <ion-item>
        Wrong Audio: {{content['answer_wrong_audio']}}
      </ion-item>

    <ion-item-divider color="light">
      <h2>Choices Audio:</h2>
    </ion-item-divider>
      <ion-item>
        Choice 1: {{content['choice_1_audio']}}
      </ion-item>
      <ion-item>
        Choice 2: {{content['choice_2_audio']}}
      </ion-item>
      <ion-item>
        Choice 3: {{content['choice_3_audio']}}
      </ion-item>
      <ion-item>
        Choice 4: {{content['choice_4_audio']}}
      </ion-item>
  </ion-item-group>

</ion-content>
