<!--
  Generated template for the Question page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar hideBackButton="true">
    <ion-title>Answer the Question</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="question center">
    <!-- Question 1 -->
      <div *ngIf="q_id_long == 'L3P36Q1'" class="ivrQuestion_1">
        <!-- question id=”L3P36Q1” style=”M1”-->
        <ion-grid>
          <ion-row question content-middle img>
            <ion-col width-100>
              <!-- <img src="" class="center" alt=""> -->
              <div class="img" style="background: url('assets/img/P36/L3.3P36.jpg')"></div>
            </ion-col>
          </ion-row>


          <div sbtn-action single no-padding>
            <ion-row>
              <ion-col width-50>
                <button ion-button block sbtn-color-1 (click)="answer(0)">ផែ</button>
              </ion-col>
              <ion-col width-50>
                <button ion-button block sbtn-color-2 (click)="answer(0)">ផៃ</button>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col width-50>
                <button ion-button block sbtn-color-3 (click)="answer(1)">ផេះ</button>
              </ion-col>
              <ion-col width-50>
                <button ion-button block sbtn-color-4 (click)="answer(0)">ថែ</button>
              </ion-col>
            </ion-row>
          </div>
      </ion-grid>
      </div>
    <!-- End Question 1 -->

    <!-- Question 2 -->
      <div *ngIf="q_id_long == 'L3P36Q2'" class="ivrQuestion_2">
        <!-- question id=”L3P36Q2” style=”M2”  -->
        <ion-grid>
          <ion-row question content-middle img>
            <ion-col width-100>
              <!-- <img src="" class="center" alt=""> -->
              <div class="img" style="background: url('assets/img/question.png')"></div>
            </ion-col>
          </ion-row>

          <div sbtn-action single no-padding>
            <ion-row>
              <ion-col width-50>
                <button ion-button block sbtn-color-1 (click)="answer(0)">ដំបៅ</button>
              </ion-col>
              <ion-col width-50>
                <button ion-button block sbtn-color-2 (click)="answer(0)">បបរ</button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col width-50>
                <button ion-button block sbtn-color-3 (click)="answer(0)">សរសរ</button>
              </ion-col>
              <ion-col width-50>
                <button ion-button block sbtn-color-4 (click)="answer(1)">ថៅកែ</button>
              </ion-col>
            </ion-row>
          </div>

      </ion-grid>
      </div>
    <!-- End Question 2 -->

    <!-- Question 3 -->
      <div *ngIf="q_id_long == 'L3P36Q3'" class="ivrQuestion_3">
        <!-- question id=”L3P36Q3” style=”M3”  -->
        <ion-grid>
          <ion-row question content-middle single>
            <ion-col>
              <div class="question text-center">
                <h1 style="text-align: center;">សរសេរ</h1>
            </div>
            </ion-col>
          </ion-row>

          <div sbtn-action no-padding img>
            <ion-row>
              <ion-col width-50>
                <button ion-button block (click)="answer(0)" style="background: url('assets/img/P36/L3.1P36.jpg') ;" ></button>
              </ion-col>
              <ion-col width-50>
                <button ion-button block (click)="answer(0)" style="background: url('assets/img/P36/L3.3P36.jpg');"></button>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col width-50>
                <button ion-button block (click)="answer(1)" style="background: url('assets/img/P36/L3.4P36.jpg');"></button>
              </ion-col>
              <ion-col width-50>
                <button ion-button block (click)="answer(0)" style="background: url('assets/img/P36/L3.2P36.jpg');"></button>
              </ion-col>
            </ion-row>
          </div>

      </ion-grid>
      </div>
    <!-- End Question 3 -->

    <!-- Question 4 -->
      <div *ngIf="q_id_long == 'L3P36Q4'" class="ivrQuestion_4">
        <!-- question id=”L3P36Q4” style=”M1”-->
        <ion-grid>
          <ion-row question content-middle img>
            <ion-col width-100>
              <!-- <img src="" class="center" alt=""> -->
              <div class="img" style="background: url('assets/img/P36/L3.2P36.jpg)"></div>
            </ion-col>
          </ion-row>


          <div sbtn-action single no-padding>
            <ion-row>
              <ion-col width-50>
                <button ion-button block sbtn-color-1 (click)="answer(1)">បបរគ្រឿង</button>
              </ion-col>
              <ion-col width-50>
                <button ion-button block sbtn-color-2 (click)="answer(0)">សរសើរ</button>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col width-50>
                <button ion-button block sbtn-color-3 (click)="answer(0)">បី</button>
              </ion-col>
              <ion-col width-50>
                <button ion-button block sbtn-color-4 (click)="answer(0)">ដំបៅ</button>
              </ion-col>
            </ion-row>
          </div>

      </ion-grid>
      </div>
    <!-- End Question 4 -->


    <!-- Question 5 -->
      <div *ngIf="q_id_long == 'L3P36Q5'" class="ivrQuestion_5">
        <!-- question id=”L3P36Q5” style=”M2” -->
        <ion-grid>
          <ion-row question content-middle img>
            <ion-col width-100>
              <div class="img" style="background: url('assets/img/question.png)"></div>
            </ion-col>
          </ion-row>

          <div sbtn-action single no-padding>
            <ion-row>
              <ion-col width-50>
                <button ion-button block sbtn-color-1 (click)="answer(0)">ថែ</button>
              </ion-col>
              <ion-col width-50>
                <button ion-button block sbtn-color-2 (click)="answer(1)">សរសើរ</button>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col width-50>
                <button ion-button block sbtn-color-3 (click)="answer(0)">ថៅកែ</button>
              </ion-col>
              <ion-col width-50>
                <button ion-button block sbtn-color-4 (click)="answer(0)">សសរ</button>
              </ion-col>
            </ion-row>
          </div>

      </ion-grid>
      </div>
    <!-- End Question 5 -->


    <!-- Question 6 -->
      <div *ngIf="q_id_long == 'L3P36Q6'" class="ivrQuestion_6">
        <!-- question id=”L3P36Q6” style=”M3”-->
        <ion-grid>
          <ion-row question content-middle single>
            <ion-col>
              <div class="question text-center">
                <h1 style="text-align: center;">ថូ</h1>
            </div>
            </ion-col>
          </ion-row>

          <div sbtn-action no-padding img>
            <ion-row>
              <ion-col width-50>
                <button ion-button block (click)="answer(1)" style="background: url('assets/img/P36/L3.1P36.jpg');"></button>
              </ion-col>
              <ion-col width-50>
                <button ion-button block (click)="answer(0)" style="background: url('assets/img/P36/L3.2P36.jpg');"></button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col width-50>
                <button ion-button block (click)="answer(0)" style="background: url('assets/img/P36/L3.3P36.jpg') ;" ></button>
              </ion-col>
              <ion-col width-50>
                <button ion-button block (click)="answer(0)" style="background: url('assets/img/P36/L3.4P36.jpg');"></button>
              </ion-col>
            </ion-row>

          </div>
      </ion-grid>
      </div>
    <!-- End Question 6 -->

</ion-content>


<ion-footer sbtn-question>
  <ion-toolbar>
    <button  ion-button clear (click)="button_push_root()">
      <ion-icon name="arrow-back"></ion-icon>
    </button>
    <button ion-button clear (click)="button_replay_question()">
      <ion-icon name="refresh"></ion-icon>
    </button>
    <button ion-button clear (click)="button_exit_application()">
      <ion-icon name="log-out"></ion-icon>
    </button>
  </ion-toolbar>
</ion-footer>
