<!--
  Generated template for the Question page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar hideBackButton="true">
    <ion-title>Answer the Question</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="question center">
    <!-- Question 1 -->
      <div *ngIf="q_id_long == 'L3P36Q1'" class="ivrQuestion_1">
        <!-- question id=”L3P36Q1” style=”M1”-->
        <ion-grid>
          <ion-row question content-middle img>
            <ion-col width-100>
              <!-- <img src="" class="center" alt=""> -->
              <div class="img" style="background: url('assets/img/P36/L3.3P36.jpg')"></div>
            </ion-col>
          </ion-row>


          <div sbtn-action single no-padding>
            <ion-row>
              <ion-col width-50>
                <button ion-button block sbtn-color-1 (click)="answer(0)">ផែ</button>
              </ion-col>
              <ion-col width-50>
                <button ion-button block sbtn-color-2 (click)="answer(0)">ផៃ</button>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col width-50>
                <button ion-button block sbtn-color-3 (click)="answer(1)">ផេះ</button>
              </ion-col>
              <ion-col width-50>
                <button ion-button block sbtn-color-4 (click)="answer(0)">ថែ</button>
              </ion-col>
            </ion-row>
          </div>
      </ion-grid>
      </div>
    <!-- End Question 1 -->

    <!-- Question 2 -->
      <div *ngIf="q_id_long == 'L3P36Q2'" class="ivrQuestion_2">
        <!-- question id=”L3P36Q2” style=”M2”  -->
        <ion-grid>
          <ion-row question content-middle img>
            <ion-col width-100>
              <!-- <img src="" class="center" alt=""> -->
              <div class="img" style="background: url('assets/img/question.png')"></div>
            </ion-col>
          </ion-row>

          <div sbtn-action single no-padding>
            <ion-row>
              <ion-col width-50>
                <button ion-button block sbtn-color-1 (click)="answer(0)">ដំបៅ</button>
              </ion-col>
              <ion-col width-50>
                <button ion-button block sbtn-color-2 (click)="answer(0)">បបរ</button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col width-50>
                <button ion-button block sbtn-color-3 (click)="answer(0)">សរសរ</button>
              </ion-col>
              <ion-col width-50>
                <button ion-button block sbtn-color-4 (click)="answer(1)">ថៅកែ</button>
              </ion-col>
            </ion-row>
          </div>

      </ion-grid>
      </div>
    <!-- End Question 2 -->

    <!-- Question 3 -->
      <div *ngIf="q_id_long == 'L3P36Q3'" class="ivrQuestion_3">
        <!-- question id=”L3P36Q3” style=”M3”  -->
        <ion-grid>
          <ion-row question content-middle single>
            <ion-col>
              <div class="question text-center">
                <h1 style="text-align: center;">សរសេរ</h1>
            </div>
            </ion-col>
          </ion-row>

          <div sbtn-action no-padding img>
            <ion-row>
              <ion-col width-50>
                <button ion-button block (click)="answer(0)" style="background: url('assets/img/P36/L3.1P36.jpg') ;" ></button>
              </ion-col>
              <ion-col width-50>
                <button ion-button block (click)="answer(0)" style="background: url('assets/img/P36/L3.3P36.jpg');"></button>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col width-50>
                <button ion-button block (click)="answer(1)" style="background: url('assets/img/P36/L3.4P36.jpg');"></button>
              </ion-col>
              <ion-col width-50>
                <button ion-button block (click)="answer(0)" style="background: url('assets/img/P36/L3.2P36.jpg');"></button>
              </ion-col>
            </ion-row>
          </div>

      </ion-grid>
      </div>
    <!-- End Question 3 -->

    <!-- Question 4 -->
      <div *ngIf="q_id_long == 'L3P36Q4'" class="ivrQuestion_4">
        <!-- question id=”L3P36Q4” style=”M1”-->
        <ion-grid>
          <ion-row question content-middle img>
            <ion-col width-100>
              <!-- <img src="" class="center" alt=""> -->
              <div class="img" style="background: url('assets/img/P36/L3.2P36.jpg')"></div>
            </ion-col>
          </ion-row>


          <div sbtn-action single no-padding>
            <ion-row>
              <ion-col width-50>
                <button ion-button block sbtn-color-1 (click)="answer(1)">បបរគ្រឿង</button>
              </ion-col>
              <ion-col width-50>
                <button ion-button block sbtn-color-2 (click)="answer(0)">សរសើរ</button>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col width-50>
                <button ion-button block sbtn-color-3 (click)="answer(0)">បី</button>
              </ion-col>
              <ion-col width-50>
                <button ion-button block sbtn-color-4 (click)="answer(0)">ដំបៅ</button>
              </ion-col>
            </ion-row>
          </div>

      </ion-grid>
      </div>
    <!-- End Question 4 -->


    <!-- Question 5 -->
      <div *ngIf="q_id_long == 'L3P36Q5'" class="ivrQuestion_5">
        <!-- question id=”L3P36Q5” style=”M2” -->
        <ion-grid>
          <ion-row question content-middle img>
            <ion-col width-100>
                <div class="img" style="background: url('assets/img/question.png')"></div>
            </ion-col>
          </ion-row>

          <div sbtn-action single no-padding>
            <ion-row>
              <ion-col width-50>
                <button ion-button block sbtn-color-1 (click)="answer(0)">ថែ</button>
              </ion-col>
              <ion-col width-50>
                <button ion-button block sbtn-color-2 (click)="answer(1)">សរសើរ</button>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col width-50>
                <button ion-button block sbtn-color-3 (click)="answer(0)">ថៅកែ</button>
              </ion-col>
              <ion-col width-50>
                <button ion-button block sbtn-color-4 (click)="answer(0)">សសរ</button>
              </ion-col>
            </ion-row>
          </div>

      </ion-grid>
      </div>
    <!-- End Question 5 -->


    <!-- Question 6 -->
      <div *ngIf="q_id_long == 'L3P36Q6'" class="ivrQuestion_6">
        <!-- question id=”L3P36Q6” style=”M3”-->
        <ion-grid>
          <ion-row question content-middle single>
            <ion-col>
              <div class="question text-center">
                <h1 style="text-align: center;">ថូ</h1>
            </div>
            </ion-col>
          </ion-row>

          <div sbtn-action no-padding img>
            <ion-row>
              <ion-col width-50>
                <button ion-button block (click)="answer(1)" style="background: url('assets/img/P36/L3.1P36.jpg');"></button>
              </ion-col>
              <ion-col width-50>
                <button ion-button block (click)="answer(0)" style="background: url('assets/img/P36/L3.2P36.jpg');"></button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col width-50>
                <button ion-button block (click)="answer(0)" style="background: url('assets/img/P36/L3.3P36.jpg');" ></button>
              </ion-col>
              <ion-col width-50>
                <button ion-button block (click)="answer(0)" style="background: url('assets/img/P36/L3.4P36.jpg');"></button>
              </ion-col>
            </ion-row>

          </div>
      </ion-grid>
      </div>
    <!-- End Question 6 -->

    <!-- Sinta -->

    <!-- End Sinta -->

    <!-- Sorya -->
    <!-- Question 1 -->
    <div *ngIf="q_id_long == 'L3P43Q1'" class="ivrQuestion_1">
    <!-- question id=”L3P43Q4” style=”M1”-->
    <ion-grid>
      <ion-row question content-middle img>
        <ion-col width-100>
          <!-- <img src="" class="center" alt=""> -->
          <div class="img" style="background: url('assets/img/P43/L3.3P43.jpg')"></div>
        </ion-col>
      </ion-row>


      <div sbtn-action single no-padding>
        <ion-row>
          <ion-col width-50>
            <button ion-button block sbtn-color-1 (click)="answer(០)">ឆ្លូវ</button>
          </ion-col>
          <ion-col width-50>
            <button ion-button block sbtn-color-2 (click)="answer(0)">ឆ្តោ</button>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col width-50>
            <button ion-button block sbtn-color-3 (click)="answer(1)">ឆ្មា</button>
          </ion-col>
          <ion-col width-50>
            <button ion-button block sbtn-color-4 (click)="answer(0)">ច្រូត</button>
          </ion-col>
        </ion-row>
      </div>

  </ion-grid>
  </div>
  <!-- End Question 1 -->

  <!-- Question 2 -->
  <div *ngIf="q_id_long == 'L3P43Q2'" class="ivrQuestion_2">
  <!-- question id=”L3P43Q4” style=”M2”-->
  <ion-grid>
    <ion-row question content-middle img>
      <ion-col width-100>
        <!-- <img src="" class="center" alt=""> -->
        <div class="img" style="background: url('assets/img/question.png')"></div>
      </ion-col>
    </ion-row>


    <div sbtn-action single no-padding>
      <ion-row>
        <ion-col width-50>
          <button ion-button block sbtn-color-1 (click)="answer(1)">ច្រាន</button>
        </ion-col>
        <ion-col width-50>
          <button ion-button block sbtn-color-2 (click)="answer(0)">ច្រូត</button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col width-50>
          <button ion-button block sbtn-color-3 (click)="answer(0)">ឆ្នូូត</button>
        </ion-col>
        <ion-col width-50>
          <button ion-button block sbtn-color-4 (click)="answer(0)">ឆ្លង</button>
        </ion-col>
      </ion-row>
    </div>

</ion-grid>
</div>
<!-- End Question 2 -->

<!-- Question 3 -->
<div *ngIf="q_id_long == 'L3P43Q3'" class="ivrQuestion_3">
<!-- question id=”L3P43Q4” style=”M3”-->
<ion-grid>
  <ion-row question content-middle img>
    <ion-col width-100>
      <!-- <img src="" class="center" alt=""> -->
      <div class="img">ច្រមុះ</div>
    </ion-col>
  </ion-row>


  <div sbtn-action single no-padding>
    <ion-row>
      <ion-col width-50>
        <button ion-button block sbtn-color-1 (click)="answer(0)" style="background: url('assets/img/P43/L3.4P43.jpg');"></button>
      </ion-col>
      <ion-col width-50>
        <button ion-button block sbtn-color-2 (click)="answer(0)" style="background: url('assets/img/P43/L3.2P43.jpg');"></button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col width-50>
        <button ion-button block sbtn-color-3 (click)="answer(1)" style="background: url('assets/img/P43/L3.1P43.jpg');"></button>
      </ion-col>
      <ion-col width-50>
        <button ion-button block sbtn-color-4 (click)="answer(0)" style="background: url('assets/img/P43/L3.3P43.jpg');"></button>
      </ion-col>
    </ion-row>
  </div>

</ion-grid>
</div>
<!-- End Question 3 -->

<!-- Question 4 -->
<div *ngIf="q_id_long == 'L3P43Q4'" class="ivrQuestion_4">
<!-- question id=”L3P43Q4” style=”M1”-->
<ion-grid>
  <ion-row question content-middle img>
    <ion-col width-100>
      <!-- <img src="" class="center" alt=""> -->
      <div class="img" style="background: url('assets/img/P43/L3.4P43.jpg');"></div>
    </ion-col>
  </ion-row>


  <div sbtn-action single no-padding>
    <ion-row>
      <ion-col width-50>
        <button ion-button block sbtn-color-1 (click)="answer(0)" >ឆ្នើម</button>
      </ion-col>
      <ion-col width-50>
        <button ion-button block sbtn-color-2 (click)="answer(0)" >ឈ្លើង</button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col width-50>
        <button ion-button block sbtn-color-3 (click)="answer(0)" >ឆ្នូូត</button>
      </ion-col>
      <ion-col width-50>
        <button ion-button block sbtn-color-4 (click)="answer(1)" >ឈ្លូស</button>
      </ion-col>
    </ion-row>
  </div>

</ion-grid>
</div>
<!-- End Question 4 -->

<!-- Question 5 -->
<div *ngIf="q_id_long == 'L3P43Q5'" class="ivrQuestion_5">
<!-- question id=”L3P43Q4” style=”M2”-->
<ion-grid>
  <ion-row question content-middle img>
    <ion-col width-100>
      <!-- <img src="" class="center" alt=""> -->
      <div class="img" style="background: url('assets/img/question.png');"></div>
    </ion-col>
  </ion-row>


  <div sbtn-action single no-padding>
    <ion-row>
      <ion-col width-50>
        <button ion-button block sbtn-color-1 (click)="answer(0)" >ច្រាន</button>
      </ion-col>
      <ion-col width-50>
        <button ion-button block sbtn-color-2 (click)="answer(1)" >ឈ្លើង</button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col width-50>
        <button ion-button block sbtn-color-3 (click)="answer(0)" >ឆ្លង</button>
      </ion-col>
      <ion-col width-50>
        <button ion-button block sbtn-color-4 (click)="answer(0)" >ឆ្នើម</button>
      </ion-col>
    </ion-row>
  </div>

</ion-grid>
</div>
<!-- End Question 5 -->

<!-- Question 6 -->
<div *ngIf="q_id_long == 'L3P43Q6'" class="ivrQuestion_6">
<!-- question id=”L3P43Q4” style=”M3”-->
<ion-grid>
  <ion-row question content-middle img>
    <ion-col width-100>
      <!-- <img src="" class="center" alt=""> -->
      <div class="img">ឆ្នាំង</div>
    </ion-col>
  </ion-row>


  <div sbtn-action single no-padding>
    <ion-row>
      <ion-col width-50>
        <button ion-button block sbtn-color-1 (click)="answer(0)" style="background: url('assets/img/P43/L3.2P43.jpg');"></button>
      </ion-col>
      <ion-col width-50>
        <button ion-button block sbtn-color-2 (click)="answer(0)" style="background: url('assets/img/P43/L3.3P43.jpg');"></button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col width-50>
        <button ion-button block sbtn-color-3 (click)="answer(1)" style="background: url('assets/img/P43/L3.4P43.jpg');"></button>
      </ion-col>
      <ion-col width-50>
        <button ion-button block sbtn-color-4 (click)="answer(0)" style="background: url('assets/img/P43/L3.1P43.jpg');"></button>
      </ion-col>
    </ion-row>
  </div>

</ion-grid>
</div>
<!-- End Question 6 -->

<!-- Question 1 -->
<div *ngIf="q_id_long == 'L3P44Q1'" class="ivrQuestion_1">
<!-- question id=”L3P43Q4” style=”M1”-->
<ion-grid>
  <ion-row question content-middle img>
    <ion-col width-100>
      <!-- <img src="" class="center" alt=""> -->
      <div class="img" style="background: url('assets/img/P44/L3.4P44.jpg')"></div>
    </ion-col>
  </ion-row>


  <div sbtn-action single no-padding>
    <ion-row>
      <ion-col width-50>
        <button ion-button block sbtn-color-1 (click)="answer(0)">ស្តាំ</button>
      </ion-col>
      <ion-col width-50>
        <button ion-button block sbtn-color-2 (click)="answer(1)">ស្រូវ</button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col width-50>
        <button ion-button block sbtn-color-3 (click)="answer(0)">ស្តាយ</button>
      </ion-col>
      <ion-col width-50>
        <button ion-button block sbtn-color-4 (click)="answer(0)">ស្ថិត</button>
      </ion-col>
    </ion-row>
  </div>

</ion-grid>
</div>
<!-- End Question 1 -->

<!-- Question 2 -->
<div *ngIf="q_id_long == 'L3P44Q2'" class="ivrQuestion_2">
<!-- question id=”L3P43Q4” style=”M2”-->
<ion-grid>
  <ion-row question content-middle img>
    <ion-col width-100>
      <!-- <img src="" class="center" alt=""> -->
      <div class="img" style="background: url('assets/img/question.png')"></div>
    </ion-col>
  </ion-row>


  <div sbtn-action single no-padding>
    <ion-row>
      <ion-col width-50>
        <button ion-button block sbtn-color-1 (click)="answer(0)">ស្កូវ</button>
      </ion-col>
      <ion-col width-50>
        <button ion-button block sbtn-color-2 (click)="answer(0)">ស្រែ</button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col width-50>
        <button ion-button block sbtn-color-3 (click)="answer(1)">ស្តាំ</button>
      </ion-col>
      <ion-col width-50>
        <button ion-button block sbtn-color-4 (click)="answer(0)">ស្ករ</button>
      </ion-col>
    </ion-row>
  </div>

</ion-grid>
</div>
<!-- End Question 2 -->

<!-- Question 3 -->
<div *ngIf="q_id_long == 'L3P44Q3'" class="ivrQuestion_3">
<!-- question id=”L3P43Q4” style=”M3”-->
<ion-grid>
  <ion-row question content-middle img>
    <ion-col width-100>
      <!-- <img src="" class="center" alt=""> -->
      <div class="img">ស្ករស</div>
    </ion-col>
  </ion-row>


  <div sbtn-action single no-padding>
    <ion-row>
      <ion-col width-50>
        <button ion-button block sbtn-color-1 (click)="answer(0)" style="background: url('assets/img/P44/L3.3P44.jpg');"></button>
      </ion-col>
      <ion-col width-50>
        <button ion-button block sbtn-color-2 (click)="answer(0)" style="background: url('assets/img/P44/L3.4P44.jpg');"></button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col width-50>
        <button ion-button block sbtn-color-3 (click)="answer(1)" style="background: url('assets/img/P44/L3.2P44.jpg');"></button>
      </ion-col>
      <ion-col width-50>
        <button ion-button block sbtn-color-4 (click)="answer(0)" style="background: url('assets/img/P44/L3.1P44.jpg');"></button>
      </ion-col>
    </ion-row>
  </div>

</ion-grid>
</div>
<!-- End Question 3 -->

<!-- Question 4 -->
<div *ngIf="q_id_long == 'L3P44Q4'" class="ivrQuestion_4">
<!-- question id=”L3P43Q4” style=”M1”-->
<ion-grid>
  <ion-row question content-middle img>
    <ion-col width-100>
      <!-- <img src="" class="center" alt=""> -->
      <div class="img" style="background: url('assets/img/P44/L3.3P44.jpg')"></div>
    </ion-col>
  </ion-row>


  <div sbtn-action single no-padding>
    <ion-row>
      <ion-col width-50>
        <button ion-button block sbtn-color-1 (click)="answer(1)">ស្បៃ</button>
      </ion-col>
      <ion-col width-50>
        <button ion-button block sbtn-color-2 (click)="answer(0)">ស្រែ</button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col width-50>
        <button ion-button block sbtn-color-3 (click)="answer(0)">ស្ថិតស្ថេរ</button>
      </ion-col>
      <ion-col width-50>
        <button ion-button block sbtn-color-4 (click)="answer(0)">ស្កូវ</button>
      </ion-col>
    </ion-row>
  </div>

</ion-grid>
</div>
<!-- End Question 4 -->

<!-- Question 5 -->
<div *ngIf="q_id_long == 'L3P44Q5'" class="ivrQuestion_5">
<!-- question id=”L3P43Q4” style=”M2”-->
<ion-grid>
  <ion-row question content-middle img>
    <ion-col width-100>
      <!-- <img src="" class="center" alt=""> -->
      <div class="img" style="background: url('assets/img/question.png')"></div>
    </ion-col>
  </ion-row>


  <div sbtn-action single no-padding>
    <ion-row>
      <ion-col width-50>
        <button ion-button block sbtn-color-1 (click)="answer(0)">ស្កប់ស្កល់</button>
      </ion-col>
      <ion-col width-50>
        <button ion-button block sbtn-color-2 (click)="answer(0)">ស្ថិតស្ថេរ</button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col width-50>
        <button ion-button block sbtn-color-3 (click)="answer(1)">ស្បែកជើង</button>
      </ion-col>
      <ion-col width-50>
        <button ion-button block sbtn-color-4 (click)="answer(0)">ស្តាយ</button>
      </ion-col>
    </ion-row>
  </div>

</ion-grid>
</div>
<!-- End Question 5 -->

<!-- Question 6 -->
<div *ngIf="q_id_long == 'L3P44Q6'" class="ivrQuestion_6">
<!-- question id=”L3P43Q4” style=”M3”-->
<ion-grid>
  <ion-row question content-middle img>
    <ion-col width-100>
      <!-- <img src="" class="center" alt=""> -->
      <div class="img">ត្រួយស្តៅ</div>
    </ion-col>
  </ion-row>


  <div sbtn-action single no-padding>
    <ion-row>
      <ion-col width-50>
        <button ion-button block sbtn-color-1 (click)="answer(0)" style="background: url('assets/img/P44/L3.1P44.jpg');"></button>
      </ion-col>
      <ion-col width-50>
        <button ion-button block sbtn-color-2 (click)="answer(0)" style="background: url('assets/img/P44/L3.2P44.jpg');"></button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col width-50>
        <button ion-button block sbtn-color-3 (click)="answer(1)" style="background: url('assets/img/P44/L3.3P44.jpg');"></button>
      </ion-col>
      <ion-col width-50>
        <button ion-button block sbtn-color-4 (click)="answer(0)" style="background: url('assets/img/P44/L3.4P44.jpg');"></button>
      </ion-col>
    </ion-row>
  </div>

</ion-grid>
</div>
<!-- End Question 6 -->

<!-- Question 1 -->
<div *ngIf="q_id_long == 'L3P45Q1'" class="ivrQuestion_1">
<!-- question id=”L3P43Q4” style=”M1”-->
<ion-grid>
  <ion-row question content-middle img>
    <ion-col width-100>
      <!-- <img src="" class="center" alt=""> -->
      <div class="img" style="background: url('assets/img/P45/L3.4P45.jpg');"></div>
    </ion-col>
  </ion-row>


  <div sbtn-action single no-padding>
    <ion-row>
      <ion-col width-50>
        <button ion-button block sbtn-color-1 (click)="answer(1)">ចម្ការ</button>
      </ion-col>
      <ion-col width-50>
        <button ion-button block sbtn-color-2 (click)="answer(0)">សម្ល</button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col width-50>
        <button ion-button block sbtn-color-3 (click)="answer(0)">បន្ត</button>
      </ion-col>
      <ion-col width-50>
        <button ion-button block sbtn-color-4 (click)="answer(0)">បន្ទប់</button>
      </ion-col>
    </ion-row>
  </div>

</ion-grid>
</div>
<!-- End Question 1 -->

<!-- Question 2 -->
<div *ngIf="q_id_long == 'L3P45Q2'" class="ivrQuestion_2">
<!-- question id=”L3P43Q4” style=”M2”-->
<ion-grid>
  <ion-row question content-middle img>
    <ion-col width-100>
      <!-- <img src="" class="center" alt=""> -->
      <div class="img" style="background: url('assets/img/question.png')"></div>
    </ion-col>
  </ion-row>


  <div sbtn-action single no-padding>
    <ion-row>
      <ion-col width-50>
        <button ion-button block sbtn-color-1 (click)="answer(0)">ចម្ងាយ</button>
      </ion-col>
      <ion-col width-50>
        <button ion-button block sbtn-color-2 (click)="answer(0)">ចម្ងល់</button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col width-50>
        <button ion-button block sbtn-color-3 (click)="answer(0)">កម្ចី</button>
      </ion-col>
      <ion-col width-50>
        <button ion-button block sbtn-color-4 (click)="answer(4)">បន្ទប់</button>
      </ion-col>
    </ion-row>
  </div>

</ion-grid>
</div>
<!-- End Question 2 -->

<!-- Question 3 -->
<div *ngIf="q_id_long == 'L3P45Q3'" class="ivrQuestion_3">
<!-- question id=”L3P43Q4” style=”M3”-->
<ion-grid>
  <ion-row question content-middle img>
    <ion-col width-100>
      <!-- <img src="" class="center" alt=""> -->
      <div class="img">បន្តោង</div>
    </ion-col>
  </ion-row>


  <div sbtn-action single no-padding>
    <ion-row>
      <ion-col width-50>
        <button ion-button block sbtn-color-1 (click)="answer(0)" style="background: url('assets/img/P45/L3.3P45.jpg');"></button>
      </ion-col>
      <ion-col width-50>
        <button ion-button block sbtn-color-2 (click)="answer(1)" style="background: url('assets/img/P45/L3.1P45.jpg');"></button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col width-50>
        <button ion-button block sbtn-color-3 (click)="answer(0)" style="background: url('assets/img/P45/L3.2P45.jpg');"></button>
      </ion-col>
      <ion-col width-50>
        <button ion-button block sbtn-color-4 (click)="answer(0)" style="background: url('assets/img/P45/L3.4P45.jpg');"></button>
      </ion-col>
    </ion-row>
  </div>

</ion-grid>
</div>
<!-- End Question 3 -->

<!-- Question 4 -->
<div *ngIf="q_id_long == 'L3P45Q4'" class="ivrQuestion_4">
<!-- question id=”L3P43Q4” style=”M1”-->
<ion-grid>
  <ion-row question content-middle img>
    <ion-col width-100>
      <!-- <img src="" class="center" alt=""> -->
      <div class="img" style="background: url('assets/img/P45/L3.2P45.jpg')"></div>
    </ion-col>
  </ion-row>


  <div sbtn-action single no-padding>
    <ion-row>
      <ion-col width-50>
        <button ion-button block sbtn-color-1 (click)="answer(0)">តម្កល់</button>
      </ion-col>
      <ion-col width-50>
        <button ion-button block sbtn-color-2 (click)="answer(0)">ចម្ងាយ</button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col width-50>
        <button ion-button block sbtn-color-3 (click)="answer(1)">បន្ទាត់</button>
      </ion-col>
      <ion-col width-50>
        <button ion-button block sbtn-color-4 (click)="answer(0)">បន្ថយ</button>
      </ion-col>
    </ion-row>
  </div>

</ion-grid>
</div>
<!-- End Question 4 -->

<!-- Question 5 -->
<div *ngIf="q_id_long == 'L3P45Q5'" class="ivrQuestion_5">
<!-- question id=”L3P43Q4” style=”M2”-->
<ion-grid>
  <ion-row question content-middle img>
    <ion-col width-100>
      <!-- <img src="" class="center" alt=""> -->
      <div class="img" style="background: url('assets/img/question.png')"></div>
    </ion-col>
  </ion-row>


  <div sbtn-action single no-padding>
    <ion-row>
      <ion-col width-50>
        <button ion-button block sbtn-color-1 (click)="answer(1)">សម្ល</button>
      </ion-col>
      <ion-col width-50>
        <button ion-button block sbtn-color-2 (click)="answer(0)">បន្ថយ</button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col width-50>
        <button ion-button block sbtn-color-3 (click)="answer(0)">កម្ចី</button>
      </ion-col>
      <ion-col width-50>
        <button ion-button block sbtn-color-4 (click)="answer(0)">បន្ត</button>
      </ion-col>
    </ion-row>
  </div>

</ion-grid>
</div>
<!-- End Question 5 -->

<!-- Question 6 -->
<div *ngIf="q_id_long == 'L3P45Q6'" class="ivrQuestion_6">
<!-- question id=”L3P43Q4” style=”M3”-->
<ion-grid>
  <ion-row question content-middle img>
    <ion-col width-100>
      <!-- <img src="" class="center" alt=""> -->
      <div class="img">អន្ទង់</div>
    </ion-col>
  </ion-row>


  <div sbtn-action single no-padding>
    <ion-row>
      <ion-col width-50>
        <button ion-button block sbtn-color-1 (click)="answer(0)" style="background: url('assets/img/P45/L3.1P45.jpg');"></button>
      </ion-col>
      <ion-col width-50>
        <button ion-button block sbtn-color-2 (click)="answer(0)" style="background: url('assets/img/P45/L3.4P45.jpg');"></button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col width-50>
        <button ion-button block sbtn-color-3 (click)="answer(0)" style="background: url('assets/img/P45/L3.2P45.jpg');"></button>
      </ion-col>
      <ion-col width-50>
        <button ion-button block sbtn-color-4 (click)="answer(1)" style="background: url('assets/img/P45/L3.3P45.jpg');"></button>
      </ion-col>
    </ion-row>
  </div>

</ion-grid>
</div>
<!-- End Question 6 -->

<!-- Question 1 -->
<div *ngIf="q_id_long == 'L3P46Q1'" class="ivrQuestion_1">
<!-- question id=”L3P43Q4” style=”M1”-->
<ion-grid>
  <ion-row question content-middle img>
    <ion-col width-100>
      <!-- <img src="" class="center" alt=""> -->
      <div class="img" style="background: url('assets/img/P46/L3.3P46.jpg')"></div>
    </ion-col>
  </ion-row>


  <div sbtn-action single no-padding>
    <ion-row>
      <ion-col width-50>
        <button ion-button block sbtn-color-1 (click)="answer(0)">ល្មម</button>
      </ion-col>
      <ion-col width-50>
        <button ion-button block sbtn-color-2 (click)="answer(0)">ល្អាង</button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col width-50>
        <button ion-button block sbtn-color-3 (click)="answer(0)">ល្បឿន</button>
      </ion-col>
      <ion-col width-50>
        <button ion-button block sbtn-color-4 (click)="answer(1)">ល្ហុង</button>
      </ion-col>
    </ion-row>
  </div>

</ion-grid>
</div>
<!-- End Question 1 -->

<!-- Question 2 -->
<div *ngIf="q_id_long == 'L3P46Q2'" class="ivrQuestion_2">
<!-- question id=”L3P43Q4” style=”M2”-->
<ion-grid>
  <ion-row question content-middle img>
    <ion-col width-100>
      <!-- <img src="" class="center" alt=""> -->
      <div class="img" style="background: url('assets/img/question.png')"></div>
    </ion-col>
  </ion-row>


  <div sbtn-action single no-padding>
    <ion-row>
      <ion-col width-50>
        <button ion-button block sbtn-color-1 (click)="answer(0)">ល្ហល្ហេវ</button>
      </ion-col>
      <ion-col width-50>
        <button ion-button block sbtn-color-2 (click)="answer(0)">ល្អាង</button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col width-50>
        <button ion-button block sbtn-color-3 (click)="answer(1)">ល្អ</button>
      </ion-col>
      <ion-col width-50>
        <button ion-button block sbtn-color-4 (click)="answer(0)">ល្បិចកល</button>
      </ion-col>
    </ion-row>
  </div>

</ion-grid>
</div>
<!-- End Question 2 -->

<!-- Question 3 -->
<div *ngIf="q_id_long == 'L3P46Q3'" class="ivrQuestion_3">
<!-- question id=”L3P43Q4” style=”M3”-->
<ion-grid>
  <ion-row question content-middle img>
    <ion-col width-100>
      <!-- <img src="" class="center" alt=""> -->
      <div class="img">ល្មៀត</div>
    </ion-col>
  </ion-row>


  <div sbtn-action single no-padding>
    <ion-row>
      <ion-col width-50>
        <button ion-button block sbtn-color-1 (click)="answer(1)" style="background: url('assets/img/P46/L3.2P46.jpg');"></button>
      </ion-col>
      <ion-col width-50>
        <button ion-button block sbtn-color-2 (click)="answer(0)" style="background: url('assets/img/P46/L3.1P46.jpg');"></button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col width-50>
        <button ion-button block sbtn-color-3 (click)="answer(0)" style="background: url('assets/img/P46/L3.3P46.jpg');"></button>
      </ion-col>
      <ion-col width-50>
        <button ion-button block sbtn-color-4 (click)="answer(0)" style="background: url('assets/img/P46/L3.4P46.jpg');"></button>
      </ion-col>
    </ion-row>
  </div>

</ion-grid>
</div>
<!-- End Question 3 -->

<!-- Question 4 -->
<div *ngIf="q_id_long == 'L3P46Q4'" class="ivrQuestion_4">
<!-- question id=”L3P43Q4” style=”M1”-->
<ion-grid>
  <ion-row question content-middle img>
    <ion-col width-100>
      <!-- <img src="" class="center" alt=""> -->
      <div class="img" style="background: url('assets/img/P46/L3.4P46.jpg')"></div>
    </ion-col>
  </ion-row>


  <div sbtn-action single no-padding>
    <ion-row>
      <ion-col width-50>
        <button ion-button block sbtn-color-1 (click)="answer(0)">ល្ហិតល្ហៃ</button>
      </ion-col>
      <ion-col width-50>
        <button ion-button block sbtn-color-2 (click)="answer(1)">សត្វល្អិត</button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col width-50>
        <button ion-button block sbtn-color-3 (click)="answer(0)">ល្បីល្បាញ</button>
      </ion-col>
      <ion-col width-50>
        <button ion-button block sbtn-color-4 (click)="answer(0)">ល្បិចកល</button>
      </ion-col>
    </ion-row>
  </div>

</ion-grid>
</div>
<!-- End Question 4 -->

<!-- Question 5 -->
<div *ngIf="q_id_long == 'L3P46Q5'" class="ivrQuestion_5">
<!-- question id=”L3P43Q4” style=”M1”-->
<ion-grid>
  <ion-row question content-middle img>
    <ion-col width-100>
      <!-- <img src="" class="center" alt=""> -->
      <div class="img" style="background: url('assets/img/question.png')"></div>
    </ion-col>
  </ion-row>


  <div sbtn-action single no-padding>
    <ion-row>
      <ion-col width-50>
        <button ion-button block sbtn-color-1 (click)="answer(0)">ល្ហល្ហេវ</button>
      </ion-col>
      <ion-col width-50>
        <button ion-button block sbtn-color-2 (click)="answer(0)">ល្អម</button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col width-50>
        <button ion-button block sbtn-color-3 (click)="answer(1)">ល្បីល្បាញ</button>
      </ion-col>
      <ion-col width-50>
        <button ion-button block sbtn-color-4 (click)="answer(0)">ល្ហិតល្ហៃ</button>
      </ion-col>
    </ion-row>
  </div>

</ion-grid>
</div>
<!-- End Question 5 -->

<!-- Question 6 -->
<div *ngIf="q_id_long == 'L3P46Q6'" class="ivrQuestion_6">
<!-- question id=”L3P43Q4” style=”M3”-->
<ion-grid>
  <ion-row question content-middle img>
    <ion-col width-100>
      <!-- <img src="" class="center" alt=""> -->
      <div class="img">ល្ខោនខោល</div>
    </ion-col>
  </ion-row>


  <div sbtn-action single no-padding>
    <ion-row>
      <ion-col width-50>
        <button ion-button block sbtn-color-1 (click)="answer(0)" style="background: url('assets/img/P46/L3.4P46.jpg');"></button>
      </ion-col>
      <ion-col width-50>
        <button ion-button block sbtn-color-2 (click)="answer(1)" style="background: url('assets/img/P46/L3.1P46.jpg');"></button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col width-50>
        <button ion-button block sbtn-color-3 (click)="answer(0)" style="background: url('assets/img/P46/L3.2P46.jpg');"></button>
      </ion-col>
      <ion-col width-50>
        <button ion-button block sbtn-color-4 (click)="answer(0)" style="background: url('assets/img/P46/L3.3P46.jpg');"></button>
      </ion-col>
    </ion-row>
  </div>

</ion-grid>
</div>
<!-- End Question 6 -->

<!-- Question 1 -->
<div *ngIf="q_id_long == 'L3P47Q1'" class="ivrQuestion_1">
<!-- question id=”L3P43Q4” style=”M1”-->
<ion-grid>
  <ion-row question content-middle img>
    <ion-col width-100>
      <!-- <img src="" class="center" alt=""> -->
      <div class="img" style="background: url('assets/img/P47/L3.2P47.jpg')"></div>
    </ion-col>
  </ion-row>


  <div sbtn-action single no-padding>
    <ion-row>
      <ion-col width-50>
        <button ion-button block sbtn-color-1 (click)="answer(0)">សង្ឃឹម</button>
      </ion-col>
      <ion-col width-50>
        <button ion-button block sbtn-color-2 (click)="answer(0)">ពង្រឹង</button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col width-50>
        <button ion-button block sbtn-color-3 (click)="answer(1)">មង្ឃុុត</button>
      </ion-col>
      <ion-col width-50>
        <button ion-button block sbtn-color-4 (click)="answer(0)">បញ្ជី</button>
      </ion-col>
    </ion-row>
  </div>

</ion-grid>
</div>
<!-- End Question 1 -->

<!-- Question 2 -->
<div *ngIf="q_id_long == 'L3P47Q2'" class="ivrQuestion_2">
<!-- question id=”L3P43Q4” style=”M2”-->
<ion-grid>
  <ion-row question content-middle img>
    <ion-col width-100>
      <!-- <img src="" class="center" alt=""> -->
      <div class="img" style="background: url('assets/img/question.png')"></div>
    </ion-col>
  </ion-row>


  <div sbtn-action single no-padding>
    <ion-row>
      <ion-col width-50>
        <button ion-button block sbtn-color-1 (click)="answer(0)">បញ្ជី</button>
      </ion-col>
      <ion-col width-50>
        <button ion-button block sbtn-color-2 (click)="answer(0)">ពង្រាយ</button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col width-50>
        <button ion-button block sbtn-color-3 (click)="answer(0)">បញ្ឈប់</button>
      </ion-col>
      <ion-col width-50>
        <button ion-button block sbtn-color-4 (click)="answer(1)">បញ្ឈរ</button>
      </ion-col>
    </ion-row>
  </div>

</ion-grid>
</div>
<!-- End Question 2 -->

<!-- Question 3 -->
<div *ngIf="q_id_long == 'L3P47Q3'" class="ivrQuestion_3">
<!-- question id=”L3P43Q4” style=”M3”-->
<ion-grid>
  <ion-row question content-middle img>
    <ion-col width-100>
      <!-- <img src="" class="center" alt=""> -->
      <div class="img">បង្អែម</div>
    </ion-col>
  </ion-row>


  <div sbtn-action single no-padding>
    <ion-row>
      <ion-col width-50>
        <button ion-button block sbtn-color-1 (click)="answer(0)" style="background: url('assets/img/P47/L3.4P47.jpg');"></button>
      </ion-col>
      <ion-col width-50>
        <button ion-button block sbtn-color-2 (click)="answer(1)" style="background: url('assets/img/P47/L3.1P47.jpg');"></button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col width-50>
        <button ion-button block sbtn-color-3 (click)="answer(0)" style="background: url('assets/img/P47/L3.2P47.jpg');"></button>
      </ion-col>
      <ion-col width-50>
        <button ion-button block sbtn-color-4 (click)="answer(0)" style="background: url('assets/img/P47/L3.3P47.jpg');"></button>
      </ion-col>
    </ion-row>
  </div>

</ion-grid>
</div>
<!-- End Question 3 -->

<!-- Question 4 -->
<div *ngIf="q_id_long == 'L3P47Q4'" class="ivrQuestion_4">
<!-- question id=”L3P43Q4” style=”M1”-->
<ion-grid>
  <ion-row question content-middle img>
    <ion-col width-100>
      <!-- <img src="" class="center" alt=""> -->
      <div class="img" style="background: url('assets/img/P47/L3.4P47.jpg')"></div>
    </ion-col>
  </ion-row>


  <div sbtn-action single no-padding>
    <ion-row>
      <ion-col width-50>
        <button ion-button block sbtn-color-1 (click)="answer(0)">ជញ្ជូន</button>
      </ion-col>
      <ion-col width-50>
        <button ion-button block sbtn-color-2 (click)="answer(0)">គីង្គក់</button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col width-50>
        <button ion-button block sbtn-color-3 (click)="answer(0)">បញ្ញើ</button>
      </ion-col>
      <ion-col width-50>
        <button ion-button block sbtn-color-4 (click)="answer(1)">ជញ្ជីង</button>
      </ion-col>
    </ion-row>
  </div>

</ion-grid>
</div>
<!-- End Question 4 -->

<!-- Question 5 -->
<div *ngIf="q_id_long == 'L3P47Q5'" class="ivrQuestion_5">
<!-- question id=”L3P43Q4” style=”M2”-->
<ion-grid>
  <ion-row question content-middle img>
    <ion-col width-100>
      <!-- <img src="" class="center" alt=""> -->
      <div class="img" style="background: url('assets/img/question.png')"></div>
    </ion-col>
  </ion-row>


  <div sbtn-action single no-padding>
    <ion-row>
      <ion-col width-50>
        <button ion-button block sbtn-color-1 (click)="answer(0)">បញ្ជើ</button>
      </ion-col>
      <ion-col width-50>
        <button ion-button block sbtn-color-2 (click)="answer(1)">ជញ្ជូូន</button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col width-50>
        <button ion-button block sbtn-color-3 (click)="answer(0)">ពង្រឹង</button>
      </ion-col>
      <ion-col width-50>
        <button ion-button block sbtn-color-4 (click)="answer(0)">សង្ឈឹម</button>
      </ion-col>
    </ion-row>
  </div>

</ion-grid>
</div>
<!-- End Question 5 -->

<!-- Question 6 -->
<div *ngIf="q_id_long == 'L3P47Q6'" class="ivrQuestion_6">
<!-- question id=”L3P43Q4” style=”M3”-->
<ion-grid>
  <ion-row question content-middle img>
    <ion-col width-100>
      <!-- <img src="" class="center" alt=""> -->
      <div class="img">គីង្គក់</div>
    </ion-col>
  </ion-row>


  <div sbtn-action single no-padding>
    <ion-row>
      <ion-col width-50>
        <button ion-button block sbtn-color-1 (click)="answer(0)" style="background: url('assets/img/P47/L3.2P47.jpg');"></button>
      </ion-col>
      <ion-col width-50>
        <button ion-button block sbtn-color-2 (click)="answer(1)" style="background: url('assets/img/P47/L3.3P47.jpg');"></button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col width-50>
        <button ion-button block sbtn-color-3 (click)="answer(0)" style="background: url('assets/img/P47/L3.1P47.jpg');"></button>
      </ion-col>
      <ion-col width-50>
        <button ion-button block sbtn-color-4 (click)="answer(0)" style="background: url('assets/img/P47/L3.4P47.jpg');"></button>
      </ion-col>
    </ion-row>
  </div>

</ion-grid>
</div>
<!-- End Question 6 -->

    <!-- End Sorya -->
</ion-content>


<ion-footer sbtn-question>
  <ion-toolbar>
    <button  ion-button clear (click)="button_push_root()">
      <ion-icon name="arrow-back"></ion-icon>
    </button>
    <button ion-button clear (click)="button_replay_question()">
      <ion-icon name="refresh"></ion-icon>
    </button>
    <button ion-button clear (click)="button_exit_application()">
      <ion-icon name="log-out"></ion-icon>
    </button>
  </ion-toolbar>
</ion-footer>
