<!--
  Generated template for the Q page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>New Question Page With Card</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding xela>

  <ion-card *ngIf="question_type == 1" sticky-center m>
    <img [src]="question_content" alt="">
  </ion-card>
  <ion-card *ngIf="question_type == 2" sticky-center m2>
    <img src="assets/img/question.png" alt="">
  </ion-card>
  <ion-card *ngIf="question_type == 3" sticky-center m1>
    <img src="assets/img/white.jpg"/>
    <div class="card-title">{{ question_content }}</div>
  </ion-card>


  <ion-grid sticky-bottom>
    <ion-row wrap>
        <ion-col width-50>
          <button ion-button block color-1 (click)="answer(1)">{{ choice_1 }}</button>
        </ion-col>
        <ion-col width-50>
          <button ion-button block color-2 (click)="answer(2)">{{ choice_2 }}</button>
        </ion-col>
        <ion-col width-50>
          <button ion-button block color-3 (click)="answer(3)">{{ choice_3 }}</button>
        </ion-col>
        <ion-col width-50>
          <button ion-button block color-4 (click)="answer(4)">{{ choice_4 }}</button>
        </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <button ion-button block navPop>Go Back</button>
  </ion-toolbar>
</ion-footer>
