page-q {
  [xela] {
    ion-col {
      padding: 0;
      margin: 0;
    }
    [ion-button] {
      padding: 55px 0;
      font-size: 2.6em;
      margin: 0;
      border: 0;
      box-shadow: none;
      border-radius: 0;
    }

    [sticky-center] {
        &[m] {
          img {
            position: absolute;
            left: 2% !important;
            width: 96% !important;
            top: 6%;
            // transform: translateY(-110%);
          }
        }

        &[m1] {
          ion-card {
            position: relative;
            text-align: center;
          }
          .card-title {
            position: absolute;
            top: 16%;
            font-size: 2.8em;
            width: 100%;
            font-weight: bold;
            text-align: center;
            color: #000;
            left: 0;
          }
        }

        &[m2] {
          box-shadow: none;
          text-align: center;

          img {
            height: 220px;
            width: auto;
            margin: 0 auto;
          }
        }

    }
    [sticky-bottom] {
      position: absolute;
      left: 0;
      bottom: 5px;
    }
  }
}

@each $color in $eyeCandy {
  $i: index($eyeCandy, $color);
  [color-#{$i}] {
    background-color: $color;
    color: #222;
  }
}
