// Variable
$eyeCandy: #19A15F #4C8CF5 #DE5347 #FFCE43;
$eyeCandy3DHighligh: #4C8CF5;

$primary_background_color: #f1e58e;
$secondary_background_color: #387ef5;

[xela-app] {
  [ion-button] {
    font-size: 3em;
    padding: 50px 20px;
  }
} // [xela-app]

[xela] {
  background-color: $primary_background_color;
  ion-col {
    padding: 0;
    margin: 0;
  }
  [ion-button] {
    padding: 58px 0;
    font-size: 3em;
    margin: 0;
    border: 0;
    box-shadow: none;
    border-radius: 0;
  }

  [sticky-center] {
      &[m] {
        img {
          position: absolute;
          left: 2% !important;
          width: 96% !important;
          top: 10%;
          transform: translateY(-5%);
        }
      }

      &[m1] {
        ion-card {
          position: relative;
          text-align: center;
        }
        .card-title {
          position: absolute;
          top: 8%;
          font-size: 6em;
          width: 100%;
          font-weight: bold;
          text-align: center;
          color: #000;
          left: 0;
        }
      }

      &[m2] {
        box-shadow: none;
        text-align: center;

        img {
          height: 220px;
          width: auto;
          margin: 0 auto;
        }
      }

  }
  [sticky-bottom] {
    position: absolute;
    left: 0;
    bottom: 5px;

    [width-50] {
      // transition: 1s;
    }
    [M12] {
      [width-100] {
        [ion-button] {
          font-size: 6em;
          padding: 90px 0;
          transition: 1s;
        }
      }
    }
    [width-100] {
      [ion-button] {
        font-size: 6em;
        padding: 115px 0;
        transition: 1s;

        &[isNextButton] {
          font-size: 4em;
          padding: 45px 0;
          box-shadow: 1px 1px solid black;
        }
      }

      ion-card {
        img {
          height: 215px;
          transition: 1s;
        }
      }
    }
  }

  ion-card {
    &[m3] {
      img {
        height: 115px;
        // height: 120px;
        width: auto !important;
        margin: 0 auto !important;
      }
    }
  }

} // [xela]

[color] {
  .toolbar {
    .toolbar-background {
      background-color: $primary_background_color;
    }
  }
}

ion-toolbar {
  text-align: center;
  [ion-button] {
    ion-icon {
      font-size: 2.2em;
    }
    &:first-child {
      margin-right: 60px;
    }
    &:last-child {
      margin-left: 60px;
    }
  }
}

.back-button {
  display: none !important;
}

@each $color in $eyeCandy {
  $i: index($eyeCandy, $color);
  [color-#{$i}] {
    background-color: $color;
    color: #222;
  }
}


@each $color in $eyeCandy {
  $i: index($eyeCandy, $color);
  [sbtn-color-#{$i}] {
    background-color: $color;
    color: #222;
  }
}
