// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// Variable
$eyeCandy: #19A15F #4C8CF5 #DE5347 #FFCE43;

// Starting CSS

.main {
  [ion-button] {
    padding: 50px 0;
    color: #222;
    font-size: 4em;
  }
}

.question {
  [question] {
    height: 35vh;
    position: relative;

    &[single] {
      .question {
        box-sizing: border-box;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        h1 {
          font-size: 5.5em;
        }
      }
    } // [single]

    &[paragh] {
      .question {

        h1 {
          font-size: 3.2em;
        }
      }
    } // [paragh]

    &[img] {
      .img {
        height: 100%;
        width: auto;

        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-position-x: 50% !important;
        background-position-y: 50% !important;

      }
    } // [img]

  } // [question]

  [sbtn-action] {
    &[single] {
      [ion-button] {
        padding: 1.2em 0 !important;
        font-size: 3.2em;
      }
    } // [single]
    &[single-2] {*
      [ion-button] {
        padding: 1em 0 !important;
      }
    }

    &[no-padding] {
      ion-row,
      ion-col {
        padding: 0;
      }

      [ion-button] {
        margin-top: 0;
        margin-bottom: 0;
        padding: 1.35em 0 !important;
        border-radius: 0;
        border: 0;
        box-shadow: none;
      }

    } // [no-padding]

    &[img] {
      [ion-button] {
        // padding: 50px 0 !important;
        padding: 1em 0 !important;
        font-size: 3.2em;
        background-size: cover !important;
        background-repeat: no-repeat;
      }
    }

  } // sbtn-action
} // .question

[sbtn-question] {
  text-align: center;

  [ion-button] {
    font-size: 1.8em;
  }
}

@each $color in $eyeCandy {
  $i: index($eyeCandy, $color);
  [sbtn-color-#{$i}] {
    background-color: $color;
    color: #222;
  }
}
